# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# IDE / editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store

# Python virtual environment
venv/
env/
